body{
    margin: 0;
}

.title-veterinarians{
    display: flex;
    justify-content: center;
}


.information-veterinarians{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

@media(min-width: 567px){
    .information-veterinarians{
        justify-content: space-around;
        flex-direction: row;
    }
}

@media(min-width: 768px){
    .information-veterinarians{
        justify-content: space-around;
    }
}

.veterinarian{
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-basis: 33%;
}

.text-veterinarian{
    display: flex;
    justify-content: space-around;
}
  


.photo-veterinarians{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 110px;
    width: 110px;
    
}

.footer {
    background-color: #173b33;
    color: white;
    /* display: flex;
    align-items: center;
    align-items: first baseline;
    justify-content: space-around;
    column-gap: 3%;
    letter-spacing: .5px;
    padding-inline-start: 170px;
    padding-inline-end: 50px; */
    }

.pre-footer {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: column;
        padding-left: 50px;
    }

/* @media(min-width: 567px){
        .pre-footer{
            flex-direction:row ;
        }
    } */

    @media(min-width: 768px){
        .pre-footer{
            flex-direction:row ;
        }
    }

.container{
    max-width: 96%;
    width: 100%;
    margin: 0 auto;
}

/* @media(min-width: 567px){
    .container{
        max-width: 92.5%;
    }
} */

@media(min-width: 768px){
    .container{
        max-width: 90%;
    }
}

.menu-footer{  
    list-style: none;
    padding: 0;
}

.menu-list-footer{
    color: white;
    padding: 0;
    margin: 0;
    flex-basis: 33%;
}

a.menu-link{
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.container-final-footer {
    text-align: center;
}


.container-final-line {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* @media(min-width: 567px){
    .container-final-line{
        flex-direction: row;
    }

} */

@media(min-width: 768px){
    .container-final-line{
        flex-direction: row;
    }

}

ul.last-list-footer {
    text-decoration: none;
    color: white;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

/* @media( min-width: 567px){
    ul.last-list-footer{
        flex-direction: row;
    }
} */

@media( min-width: 768px){
    ul.last-list-footer{
        flex-direction: row;
    }
}
