body{
    margin: 0;
    
}

section.veterinarians-box {
    padding: 4rem 0;
    letter-spacing: .5px;
}

.title-veterinarians{
    display: flex;
    justify-content: center;
}


.information-veterinarians{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

@media(min-width: 567px){
    .information-veterinarians{
        justify-content: space-around;
        flex-direction: row;
    }
}

@media(min-width: 768px){
    .information-veterinarians{
        justify-content: space-around;
    }
}

.veterinarian{
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-basis: 33%;
}

.text-veterinarian{
    display: flex;
    justify-content: space-around;
}
  


.photo-veterinarians{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 110px;
    width: 110px;
    
}

cite.text-veterinarian {
    margin: 27px 0;
}



@media(min-width: 567px){
        
    }





@media(min-width: 567px){
    
}




@media(min-width: 567px){
    

}





@media( min-width: 567px){
    
}

@media( min-width: 768px){
    
}
